:root{
    --red-color: #E3ACF9;
    --background-color: #FBF1D3 ;
    --black-color: #000;
    --yellow-color: #FADA9D;
    --orange-color: #E3ACF9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}
.list{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}
.list-title{
    display: flex;
    background-color: var(--background-color);
    width: 50vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: 400;
    color: var(--red-color);
}
.todo-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}
.todo-item{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: var(--red-color);
    color: var(--black-color);
    
}
.todo-item > div {
    width: 80%;
}
.todo-item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--orange-color);
    color: var(--yellow-color);
}
.todo-item>input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}
.todo-item>input[type='button'],
.todo-item>input[type='checkbox'] {
    width: 20px;
    height: 20px;
    font: inherit;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    accent-color: var(--orange-color);
    
}
.todo-item > input[type='checkbox']:checked + div {
    text-decoration: line-through;
}
.new-item-todo{
    display: flex;
    background-color: var(--yellow-color);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 10px;
}
.new-item-todo>input {
    background-color: var(--yellow-color);
    border: none;
    width: 90%;
    outline: none;
    font-size: 1.5rem;
}
.new-item-todo>input::placeholder {
    font-style: italic;
    font-weight: normal;
}
.modal-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar{
    display: flex;
}
.modal{
    background-color: #FBF1D3;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 5px solid #E3ACF9;
    position: relative;
}

.fechar{
    position: absolute;
    font-size: 2rem;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #BA94D1;
    color: #FBF1D3;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}
.titulo-modal{
    font-size: 3rem;
    color: var(--orange-color);
}
.texto{
    font-size: 1.5rem;
    color: #BA94D1;
}
